
.dummy {
  width: 240px - 16px;
  height: 240px - 16px;
  margin: auto;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  background: $hyperapp;

  &::after {
    content: 'DUMMYROUTE';
  }

  div {
    padding: 36px 0 6px;
    color: $white;
    font-size: 136px;
    text-align: center;
  }
}
